# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.venv
venv/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db

# Tableau temp files
*.tmp
*.log
